.menu-header{
    .navbar{
        .cntr{
            @include mq(max, $mq_md){
                padding: 0;
            }
        }
        .navbar-toggler{
            display: none;
            @include mq(max, $mq_md){
                display: block;
                background-color: #000;
                border: none;
                cursor: pointer;
                padding: 15px 23px;
                position: relative;
                z-index: 9;
            }
            &.is-toggled{
                padding: 14.4px 22.5px;
                background-color: #464646;
                .navbar-toggler-box{
                    .navbar-toggler-icon{
                        background-color: transparent;
                        &::before{
                            top: 2px;
                            transform: rotate(45deg);
                            transition: linear .3s;
                        }
                        &::after{
                            bottom: -2px;
                            transform: rotate(-45deg);
                            transition: linear .3s;
                        }
                    }
                }
            }
            .navbar-toggler-box{
                width: 15px;
                height: 24px;
                display: inline-block;
                position: relative;
                top: 3px;
                .navbar-toggler-icon{
                    display: block;
                    top: 50%;
                    margin-top: -2px;
                    height: 2px;
                    background-color: #fff;
                    position: relative;
                    &::before, &::after{
                        content: "";
                        display: block;
                        width: 15px;
                        height: 2px;
                        background-color: #fff;
                        position: absolute;
                    }
                    &::before{
                        transition: linear .3s;
                        top: -5px;
                    }
                    &::after{
                        bottom: -5px;
                        transition: linear .3s;
                    }
                }
            }
        }
        .navbar-group{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .navbar-brand{
                margin-right: auto;
                display: flex;
                @include mq(max, $mq_md){
                    padding-left: 15px;
                }
                .logo{
                    text-decoration: none;
                    color: #333;
                }
            }
            .navbar-type{
                .navbar-nav{
                    display: flex;
                    align-items: center;
                    @include mq(max, $mq_md){
                        flex-wrap: wrap;
                    }
                    .menu-item{
                        @include mq(max, $mq_md){
                            flex: 0 0 100%;
                            max-width: 100%;
                        }
                        .nav-link{
                            color: #333;
                            display: flex;
                            align-items: center;
                            padding: 20px 20px;
                            text-decoration: none;
                            transition: all .4s ease-in-out;
                            @include mq(max, $mq_md){
                                justify-content: center;
                                color: #fff;
                                padding: 10px 10px;
                            }
                            &:hover{
                                opacity: .8;
                            }
                        }
                    }
                }
                &.navbar-slide-right{
                    @include mq(max, $mq_md){
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: #000;
                        z-index: 9;
                        transform: translateX(-100%);
                        transition: linear .2s;
                        height: 100vh;
                    }
                    &.is-toggled{
                        transform: translateX(0%);
                        transition: linear .2s;
                    }
                }
                &.navbar-collapse{
                    @include mq(max, $mq_md){
                        background-color: #000;
                        color: #fff;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        transition: linear .2s;
                        display: none;
                        opacity: 0;
                    }
                    &.is-toggled{
                        display: block;
                        opacity: 1;
                        transition: all .4s ease-in-out;
                    }
                }
            }
            
        }
    }
}